// colours
$contrast-background-color: #163455;
$content-background-color: #FFFFFF;
$highlight : #C6A75D;
$feature-color: #6e95a9;
//$feature-color-highlight: #A8CFB1;
$feature-color-highlight: lighten($contrast-background-color, 50%);
$body-color: $content-background-color;