/* Main CSS Document (Sassified) */

// colours
@import "colours";

//fonts
@import "fonts";

//icons
@import "glyphicon";

$main-width: 960px;

body {
  min-width: 640px;
  //max-width: round($main-width * 1.2);
  margin: 0;
  /*font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
  font-family: 'Open Sans', sans-serif;
  background: $body-color;
}

h1, h2, h3, h4, h5 {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#content {
  width: 75%;
  min-width: 540px;
  max-width: 800px;
  margin-left: 5em;
  margin-right: auto;
  margin-bottom: 5em;
  /*    border: 3px black solid;*/
  /*    padding: 0px;*/
}

nav {
  clear: both;
  background-color: $feature-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@mixin nav-item-style {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

@mixin nav-item {
  li {
    @include nav-item-style;
    border: thin solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.2em;
    width: 24%;
    background-color: $contrast-background-color;
  }
}

nav ul {
  @include nav-item;
}

nav ul li:hover {
  background: $feature-color-highlight;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: $content-background-color;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

nav ul li.current {
  background-color: $highlight;
}

.rightImage {
  float: right;
}

footer, header#pageHeader {
  background-color: $contrast-background-color;
  color: $content-background-color;
  text-align: left;
  padding: 1.5em;
  clear: both;
}

.footer-style{
  display: block;
  width: 100%;
}

footer {
  @extend .footer-style;
  position: fixed;
  bottom: 0;

}

header#pageHeader a {
  text-decoration: none;
  color: white;
}

#features {
  //background-color: beige;
  background-color: lighten($feature-color-highlight, 20%);
  clear: both;
  border: thin black solid;
  margin-top: -5em; /* 'undo' usual bottom margin on content div */
}

#features div {
  width: 33%;
  /*    border: thin solid grey;*/
  /*    margin: 1em 2em;*/
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.clearfix {
  margin-bottom: 8em;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#first {

}

.img-circle {
  border-radius: 50%;
}

blockquote {
  font-size: larger;
}

#extra div {
  border: 3px solid black;
  float: left;
  width: 48%;
  margin-right: 1%;
}

#login {
  float: right;
  width: 12em;
}

#login input[type="submit"] {
  margin-left: 1em;
}

footer .user {
  float: right;
}

footer a {
  color: aliceblue;
}

footer .copyright {
  float: left;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
